<div class="jumbotron">
  <p class="lead">
    Formulaire de pré-convention de stage
  </p>
</div>

<div class="alert alert-success" role="alert" ng-if="conventionValide">
  Convention envoyée ! Merci de noter votre numéro de dossier: {{ conventionValide.noPC }}
</div>

<div class="marketing">
  <form>
    <div class="panel panel-default">
      <div class="panel-heading">Étudiant</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNomE">Votre nom</label>
            <input type="text" class="form-control" id="inputNomE" ng-model="convention.nomE" placeholder="Nom">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPrenomE">Votre prénom</label>
            <input type="text" class="form-control" id="inputPrenomE" ng-model="convention.prenomE" placeholder="Prénom">
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroE">Votre N°</label>
            <input type="text" class="form-control" id="inputNumeroE" ng-model="convention.numeroE" placeholder="Numéro">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Diplôme préparé</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNiveauF">Votre niveau</label>
            <select class="form-control" id="inputNiveau" ng-model="convention.niveau">
              <option>L1</option>
              <option>L2</option>
              <option>L3</option>
              <option>M1</option>
              <option>M2</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="inputIntituleF">Intitulé de la formation</label>
            <input type="text" class="form-control" id="inputIntituleF" ng-model="convention.intitule" placeholder="Intitulé">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Reponsabilité civile</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputCompagnieAssurance">Compagnie d'assurance</label>
            <input type="text" class="form-control" id="inputCompagnieAssurance" ng-model="convention.assurance" placeholder="Nom de la compagnie">
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroContratAssurance">N° du contrat</label>
            <input type="text" class="form-control" id="inputNumeroContratAssurance" ng-model="convention.numContrat" placeholder="Numéro">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Entreprise / Institution</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputNomEntreprise">Nom de l'organisation</label>
            <input type="text" class="form-control" id="inputNomEntreprise" ng-model="convention.entreprise" placeholder="Nom">
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroEntreprise">N° SIREN</label>
            <input type="text" class="form-control" id="inputNumeroEntreprise" ng-model="convention.siren" placeholder="Numéro">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Votre stage</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputDateDebut">Date de début</label>
            <input type="text" class="form-control" id="inputDateDebut" ng-model="convention.dateD" placeholder="DD/MM/YYYY">
          </div>
          <div class="form-group col-md-4">
            <label for="inputDateFin">Date de fin</label>
            <input type="text" class="form-control" id="inputDateFin" ng-model="convention.dateF" placeholder="DD/MM/YYYY">
          </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputGratification">Gratification (€)</label>
            <input type="text" class="form-control" id="inputGratification" ng-model="convention.gratification" placeholder="Montant en €">
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Résumé du sujet / activités</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputDateDebut">Description des activités</label>
            <textarea class="form-control" id="inputDateDebut" rows="3" ng-model="convention.description"></textarea>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center"><button type="submit" class="btn btn-primary" ng-click="createConvention(convention)">Valider</button></p>
  </form>
</div>
