<div class="jumbotron">
  <p class="lead">
    Quelle est votre numéro de dossier ?
    <form>
    	<div class="form-group">
            <input type="text" class="form-control" id="inputNumeroConvention" ng-model="idConvention" placeholder="Numéro de votre dossier">
        </div>
    </form>
  </p>
  <p class="text-center"><button type="submit" class="btn btn-primary" ng-click="demandeSuivi()">Valider</button></p>
</div>

<div class="alert alert-alert" role="alert" ng-if="error">
  Impossible de récupérer la convention avec ce numéro de dossier...
</div>

<div class="alert alert-warning" role="alert" ng-if="conventionTrouvee && conventionTrouvee.etatPC == 'INIT'">
  Votre convention est en cours de traitement...
</div>
<div class="alert alert-success" role="alert" ng-if="conventionTrouvee && conventionTrouvee.etatPC == 'CONFORME'">
  Votre convention est validée !
</div>
<div class="alert alert-alert" role="alert" ng-if="conventionTrouvee && conventionTrouvee.etatPC == 'NON_CONFORME'">
  Votre convention n'est pas conforme. Merci de vous rapprocher du bureau des stages.
</div>