<div class="alert alert-warning" role="alert" ng-if="conventions.length == 0">
  Aucune pré-convention n'est disponible
</div>

<div class="marketing">
  <div class="panel panel-default">
    <div class="panel-heading">Statistiques</div>
    <div class="panel-body">
      Nombre de préconventions: <b>{{ nbPC }}</b><br/>
      Gratification moyenne: <b>{{ moyenneGratification }}</b><br/>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Liste des conventions validées</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de l'étudiant</th>
            <th scope="col">Prénom de l'étudiant</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="conv in conventions">
            <th scope="row">{{ conv.noPC }}</th>
            <td>{{ conv.etudiantPC.nomEtudiant}}</td>
            <td>{{ conv.etudiantPC.prenomEtudiant}}</td>
            <td>{{ conv.nomEntreprisePC}}</td>
            <td><a href="#!/{{ conv.noPC }}">voir</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
