<div class="marketing" ng-if="conventionTrouvee">
    <div class="panel panel-default">
      <div class="panel-heading">Étudiant</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNomE">Nom</label><br/>
            {{ conventionTrouvee.etudiantPC.nomEtudiant }}
          </div>
          <div class="form-group col-md-4">
            <label for="inputPrenomE">Prénom</label><br/>
            {{ conventionTrouvee.etudiantPC.prenomEtudiant }}
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroE">N°</label><br/>
            {{ conventionTrouvee.etudiantPC.noEtudiant }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Diplôme préparé</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputNiveauF">Votre niveau</label><br/>
            {{ conventionTrouvee.niveau }}
          </div>
          <div class="form-group col-md-8">
            <label for="inputIntituleF">Intitulé de la formation</label><br/>
            {{ conventionTrouvee.intituleFormation }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Reponsabilité civile</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputCompagnieAssurance">Compagnie d'assurance</label><br/>
            {{ conventionTrouvee.nomAssurancePC }}
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroContratAssurance">N° du contrat</label><br/>
            {{ conventionTrouvee.codeAssurancePC }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Entreprise / Institution</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputNomEntreprise">Nom de l'organisation</label><br/>
            {{ conventionTrouvee.nomEntreprisePC }}
          </div>
          <div class="form-group col-md-4">
            <label for="inputNumeroEntreprise">N° SIREN</label><br/>
            {{ conventionTrouvee.sirenEntreprisePC }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Stage</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputDateDebut">Date de début</label><br/>
            {{ conventionTrouvee.dateDebutPC | split:'T':0 }}
          </div>
          <div class="form-group col-md-4">
            <label for="inputDateFin">Date de fin</label><br/>
            {{ conventionTrouvee.dateFinPC | split:'T':0 }}
          </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputGratification">Gratification (€)</label><br/>
            {{ conventionTrouvee.gratificationPC }}
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Résumé du sujet / activités</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputDateDebut">Description des activités</label><br/>
            {{ conventionTrouvee.resumePC }}
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Tuteur enseignant</div>
      <div class="panel-body">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputTuteurEnseignant">Nom</label><br/>
            {{ conventionTrouvee.tuteurEnseignant }}
          </div>
        </div>
      </div>
    </div>
</div>