<div class="jumbotron">
  <p class="lead">
    Liste des pré-conventions à valider
  </p>
</div>

<div class="alert alert-warning" role="alert" ng-if="conventions.length == 0">
  Aucune pré-convention n'est en attente
</div>

<div class="marketing">
  <div class="panel panel-default">
    <div class="panel-heading">Sélectionnez une pré-convention</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de l'étudiant</th>
            <th scope="col">Prénom de l'étudiant</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="conv in conventions" ng-class="conv.validationPedagogique != 0 ? 'traite' : ''">
            <th scope="row">{{ conv.noPC }}</th>
            <td>{{ conv.etudiantPC.nomEtudiant}}</td>
            <td>{{ conv.etudiantPC.prenomEtudiant}}</td>
            <td>{{ conv.nomEntreprisePC}}</td>
            <td><a href="#!/{{ conv.noPC }}">traiter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
